html,body{
    height: 100%;
    background: #f7f7f7;
}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,pre{
    font-family: '微软雅黑';
    color: #666666;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;

}
.topinput{
    float:right;
    margin-left: 10px;
    background-color: #2fa2db;
    color: #f7f7f7;
    border: 2px;
    width: 70px;
    height: 30px;
}
.top{
    background-color: #d6d6d6;
    height: 30px;
    padding: 10px;
    line-height:30px;
}
div.table{
    overflow: auto;
}
input[type="text"]{
    height:26px;
}



div.postman{
    margin:25px 0 0 0;
    border-top: double #c3c3c3;
    border-bottom: double #c3c3c3;
    overflow:hidden;
}
div.postman,div.postman div{
    padding:10px 5px 10px 5px;
    background-color: #D4FAFF;
    box-sizing:border-box;
}
div.postman div.request,div.postman div.responses{
    float:left;
    display: inline-block;
    width: 50%;
    height: auto;
}
div.postman div.request{
    border-right:solid #808080;
}
div.postman div.request div{
    border-bottom: solid #c3c3c3 1px;
}
div.postman table.controler{
    width: 100%;
}
div.postman input[type="button"],div.postman select{
    height:26px;
}
div.postman table.controler #pm_url{
    width: 100%;
}
div.postman table.params input,div.postman table.header input{
    width: 100%;
}
div.postman textarea{
    width:100%;
    resize:none;
}
div.postman div.request div.label,div.postman div.responses div.label{
    display: inline-block;
    border-bottom: none;
    cursor:default;
}