body{
    overflow:auto;
}
table{
    table-layout:fixed; /*这两句是为了解决表格自动换行的问题*/
    word-wrap:break-word;
}

table.table
{
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    cellspacing:0px;
    table-layout:fixed;
    align:center;
    border:1px;
    overflow:auto;
    width:100%;
}
table.table td, table.table th
{
    border: 1px solid #cad9ea;
    color: #666;
    height: 30px;
    position:static;
}
table.table thead th
{
    background-color: #CCE8EB;
}

table.table tr:nth-child(odd)
{
    background: #fff;
}
table.table tr:nth-child(even)
{
    background: #F5FAFA;
}
table.table tr[selected="selected"]{
    background: #C7F1FF;
}
table.table
/*弹窗*/
table.modal{
    border: 0px;
}
table.modal [type="text"]{
    width: 350px;
}
table.modal textarea{
    width: 350px;
    height: 200px;
    resize:none;
    scrollbar:auto;
}
table.modal td{
    height: 30px;
}

div.reveal-modal div.modal{
    text-align:center;
    margin:20px 0 0 0;
}
div.reveal-modal input[type="button"]{
    /*float:;*/
    background-color: #2fa2db;
    color: #f7f7f7;
    border: 2px;
    width: 100px;
    height: 40px;
    margin: 2px;
}

pre{                    /*使pre标签在td中换行*/
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}