{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
    <link type="text/css" rel="styleSheet" href="{% static 'interfacetest/iframe/table.css' %}">
    <link type="text/css" rel="styleSheet" href="{% static 'interfacetest/iframe/settings/settings.css' %}">
    <link type="text/css" rel="styleSheet" href="{% static 'interfacetest/plugins/reveal/reveal.css' %}">

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'interfacetest/iframe/settings/settings.js' %}"></script>
    <script src="{% static 'interfacetest/iframe/table.js' %}"></script>
    <script src="{% static 'interfacetest/plugins/reveal/jquery.reveal.js' %}"></script>
</head>
<body>
    <div class="top">设置
        <input class="topinput" type="button" value="删除" id="btn_d" to-data-reveal-id="modal_d" data-animation="none">
        <input class="topinput" type="button" value="修改" id="btn_a" to-data-reveal-id="modal_a" data-animation="none">
        <input class="topinput" type="button" value="添加" id="btn_p" data-reveal-id="modal_p" data-animation="none">
        <input class="topinput" type="button" value="搜索" id="btn_s">
    </div>
    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th style="width:30px"><input type="checkbox" value=0></th>
                    <th style="width:200px">系统</th>
                    <th style="width:200px">测试地址</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody id="data">
                {% for contact in contacts %}
                    <tr trid={{ contact.id }}>
                        <td ><input type="checkbox" value={{ contact.id }}></td>
                        <td tdname="sysname">{{ contact.sysname }}</td>
                        <td tdname="host">{{ contact.host }}</td>
                        <td tdname="remark"><pre>{{ contact.remark  }}</pre></td>   {# 用pre标签处理换行符显示问题 #}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">        {# 后面改善一下外观 #}
        <span class="step-links">
            {% if contacts.has_previous %}
                <a href="?page={{ contacts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
            </span>

            {% if contacts.has_next %}
                <a href="?page={{ contacts.next_page_number }}">next</a>

            {% endif %}
        </span>
    </div>
    {#弹窗#}
    <div id="modal_p" class="reveal-modal" >
        <h1 class="modal">添加</h1>
        <table class="modal">
            <tr><td width="100">系统：</td>
                <td ><input type="text" id="p_sysname"></td></tr>
            <tr><td >测试地址：</td>
                <td ><input type="text" id="p_host"></td></tr>
            <tr><td >备注：</td>
                <td ><textarea id="p_remark"></textarea></td></tr>{# 换行符问题要处理#}
        </table>
        <div class="modal">
        <input type="button" value="确定" >
        <input type="button" value="取消" class="close-reveal-modal">
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="modal_a" class="reveal-modal" >
        <h1 class="modal">修改</h1>

        <table class="modal">
            <tr><td width="100">系统：</td>
                <td ><input type="text" id="a_sysname" value="556"></td></tr>
            <tr><td >测试地址：</td>
                <td ><input type="text" id="a_host"></td></tr>
            <tr><td >备注：</td>
                <td ><textarea id="a_remark"></textarea></td></tr>
        </table>
        <div class="modal">
        <input type="button" value="确定" >
        <input type="button" value="取消" class="close-reveal-modal">
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="modal_d" class="reveal-modal" >
        <h1 class="modal">删除</h1>
        <h4>确定删除数据？</h4>
        <div class="modal">
        <input type="button" value="确定" >
        <input type="button" value="取消" class="close-reveal-modal">
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</body>
</html>